@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

h1.ce-header{
  @apply text-5xl font-bold
}
h2.ce-header{
  @apply text-4xl font-semibold
}
h3.ce-header{
  @apply text-3xl font-semibold
}
h4.ce-header{
  @apply text-2xl font-semibold
}
h5.ce-header{
  @apply text-xl font-semibold
}
h6.ce-header{
  @apply text-lg font-semibold
}